{% extends "base.html" %}
{% block content %}
<h1>Изменение пароля</h1>
<form method="POST" class="auth-form">
    <input type="password" id="old_password" name="old_password" placeholder="Текущий пароль" required>
    <input type="password" id="new_password" name="new_password" placeholder="Новый пароль" required>
    <button type="submit" class="btn">Изменить пароль</button>
</form>
<button onclick="location.href='{{ url_for('dashboard') }}'" class="btn btn-action btn-return">Вернуться на панель управления</button>
{% endblock %}
